@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

*{
    font-family: 'Inter', sans-serif;
    color: #F0E6D2;
    padding: 0;
    margin: 0;
    font-weight: bold;
}
html, body{
    overflow-x: hidden;
    overflow-y: hidden;
}

body{
    backdrop-filter: blur(50px);
    overflow-y: hidden;
}

.nav-bar{
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #0A323C;
    height: 40px;
}

.title-bar{
    font-family: system-ui;
    flex: 2;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

.btn{
    font-family: system-ui;
    all:unset;
    cursor: pointer;
    width: 50px;
    color: white;
    display: inline-block;
    text-align: center;
    font-size: 20px;
}
#minBtn{
    font-family: system-ui;
    border-left: 2px solid #104d5c;
    border-right: 1px solid #104d5c;
}

#maxBtn{
    font-family: system-ui;
    border-left: 1px solid #104d5c;
    border-right: 1px solid #104d5c;
}

#closeBtn{
    font-family: system-ui;
    border-left: 1px solid #104d5c;
}
.btn:hover{
    background-color: #0e4654;
}

#playerInfoContainer{
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
    grid-template-areas:
    "nav nav nav nav" 
    "profile profile profile profile"
    "data-me data-me resutl result";
    height: 100vh;
}

#player_info{
    grid-area: profile;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
}

.champ_vs{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 2px solid beige;
    border-radius: 5px;
}

.champ_vs_name{
    font-size: 30px;
    text-align: center;
    flex: 2;
}

.player_stat_winrate{
    font-size: 45px;
    background-color: #0A1428;
    width: 100%;
    text-align: center;
}

.champ_vs_img{
    width: 80px;
}

#winrate_infos {
    grid-area: data;
    display: flex;
    flex-direction: row;
}

#result{
    grid-area: result;
    width: 50vw;
}

.winrate_col{
    padding: 10px;
    grid-area: data-me;
    display: flex;
    flex-direction: column;
    background-color: rgba(15, 15, 15, 0.674);
    box-shadow: 2px 5px #00000063;
    overflow-y: scroll;
    position: relative;
    height: calc(100% - 55px);
}

.winrate_col_vs{
    grid-area: data-vs;
    display: flex;
    flex-direction: column;
    background-color: rgba(15, 15, 15, 0.674);
    box-shadow: 2px 5px #00000063;
    overflow-y: scroll;
}

.winrate_infos{
    grid-area: data;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.player_stat{
    border: 1px solid black;
}

#player_info{
    display: flex;
    flex-direction: row;
}

.player-things{
    width: 33.3333%;
    height: 100px;
    border: 1px solid rgb(58, 58, 58);
    border-radius: 5px;
}

#playerName{
    font-size: 25px;
    font-weight: bolder;
    margin-left: 20px;
}

.info_box{
    font-size: 35px;
    text-align:start;
    padding-right: 20px;
    box-shadow: 2px 5px #0A1428;
}

#playerNameBox{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: rgba(15, 15, 15, 0.674); /*metti immagine del campione che ha giocato di più nelle ultime partite fetchate o dell'ultima partita o immagine dell'icona*/
    background-size: contain;
    background-repeat: no-repeat;
}

#playerIcon{
    border: 3px solid rgb(186, 0, 0);
    border-radius: 50%;
    height: 95%;
    display: inline-block;
}

#playerNameBox:hover{
    background: rgba(40, 40, 40, 0.851);
    transform: scale(1.03);
    background-size: auto;
}

#playerRankBox:hover{
    background: rgba(40, 40, 40, 0.851);
    transform: scale(1.03);
    background-size: auto;
}

#playerLevel{
    font-size: 25px;
    font-weight: bolder;
    margin-left: 20px;
}

#playerLevelBox:hover{
    background: rgba(40, 40, 40, 0.851);
    transform: scale(1.03);
    background-size: auto;
    font-size: 25px;
    font-weight: bolder;
}

#playerRankBox{    /*metti immagine che ha rank di corrispondenza*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: rgba(15, 15, 15, 0.674);
    background-size: contain;
    background-repeat: no-repeat;
}

#rankIcon{
    height: 95%;
    display: inline-block;
}

#lastChampIcon{
    border: 3px solid rgb(43, 175, 58);
    border-radius: 50%;
    height: 95%;
    display: inline-block;
}

#playerLevelBox{    /*metti immagine che ha rank di corrispondenza*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: rgba(15, 15, 15, 0.674);
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 25px;
    font-weight: bolder;
}

#playerRank{
    font-size: 25px;
    font-weight: bolder;
    margin-left: 20px;
}

.level{
    background: rgba(15, 15, 15, 0.674); /*inventa qualcosa vedi riga in playername */
}

#caricamento{
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#load_txt{
    font-size: 50;
    text-align: center;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f100; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgb(211, 211, 211); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(164, 164, 164); 
  }